.body {
   background-color: #f2e4c7;
}

.container {
   width: 100%;
   height: 100%;
   background-color: #f2e4c7;
}
.header {
   background-color: #a28e78;
   border-radius: 10px;
}

.header h1 {
   color: #f5ebdd;
}